<nav class="darken-2">
    <div class="nav-wrapper container">
        <a href="{% url 'course_list' %}" class="brand-logo">Study Portal</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down nav-item">
            {% if user.is_authenticated %}
                <li>
                    <a class="nav-item" href="{% url 'course_list' %}">My Courses</a>
                </li>
                <li>
                    <span class="white-text nav-item">Hi, {{ user.username }}</span>
                </li>
                <li>
                    <a class="nav-item" href="{% url 'logout' %}">Logout</a>
                </li>
            {% else %}
                <li>
                    <a class="nav-item" href="{% url 'course_list' %}">Courses</a>
                </li>
                <li>
                    <a class="nav-item" href="{% url 'login' %}">Login</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
